---
---
// utility
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.half {
    max-width: 50%;
  }
}
.img-circle {
  border-radius: 50%;
}
.border-darkgray {
  border: 1px solid #333;
}

// colors
/* Black */
.theme-black .sidebar {
  background-color: #111;
}
.theme-black .content a,
.theme-black .related-posts li a:hover {
  color: #111;
}

// layout
body {
  font-family: "Open Sans", sans-serif;
}
.sidebar-about h1 {
  font-family: "Montserrat", sans-serif;
  a:hover {
    text-decoration: none;
  }
}
a.sidebar-nav-item {
  & > span {
    display: inline-block;
    &::after {
      content: '';
      display: block;
      width: 0%;
      height: 1px;
      background: white;
      transition: all 0.3s;
    }
  }
  &.active,
  &:hover,
  &:focus {
    text-decoration: none;
    font-weight: normal;
    & > span::after {
      width: 100%;
    }
  }
}
