{% assign current = page.url | downcase | split: '/' %}
<header class="desktop">
  <div class="container-fluid">
    <ul class="header-nav">
      <li class="text-center">
        <a class="brand-open" href="{{ site.baseurl }}">LE</a>
      </li>

      <li {% if current[1] == 'index.html' %} class='active' {% endif %}>
        <a href="{{ site.baseurl }}">Blog Home</a>
      </li>

      <li {% if current[1] == 'about' %} class="active" {% endif %}>
        <a href="{{ site.baseurl }}about">About the Blog</a>
      </li>
    </ul>
    <ul class="header-nav pull-right">
      <li class="search">
        <div id="search-container">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" id="search-input" placeholder="SEARCH">
          </div>
          <ul id="results-container"></ul>
        </div>
      </li>
    </ul>
  </div>
</header>

<header class="mobile navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target=".navbar-collapse"
      data-toggle="collapse" type="button"><i class="icon-bar"></i><i class=
      "icon-bar"></i><i class="icon-bar"></i></button><a class="navbar-brand"
      href="/"><span class=
      "text-light">Leung</span><span>&nbsp;</span><span class=
      "text-normal">Enterprises</span></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if current[1] == 'index.html' %} class='active' {% endif %}>
          <a href="http://blog.leungenterprises.com/">Blog Home</a>
        </li>

        <li {% if current[1] == 'about' %} class='active' {% endif %}>
          <a href="http://blog.leungenterprises.com/">About the Blog</a>
        </li>

        <li>
          <a href="https://www.leungenterprises.com/">Main Home <i class=
          "ion-forward"></i></a>
        </li>

        <li class="social-block">
          <a class="fa fa-facebook" href="https://facebook.com/LeungEnterprises"></a>
          <a class="fa fa-twitter" href="https://twitter.com/LeungEnterprise"></a>
          <a class="fa fa-google-plus" href="https://plus.google.com/+LeungEnterprises"></a>
          <a class="fa fa-linkedin" href="https://www.linkedin.com/company/leung-enterprises"></a>
          <a class="fa fa-github" href="https://github.com/LeungEnterprises"></a>
        </li>
      </ul>
    </div>
  </div>
</header>
