<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>
  {% if page.metadesc %}
    <meta name="description" content="{{page.metadesc}}">
  {% elsif page.description %}
    <meta name="description" content="{{page.description}}">
  {% endif %}

  <!-- Social Media -->
  <meta property="fb:page_id" content="1192958917396758">
  <meta name="twitter:url" content="https://www.leungenterprises.com">
  <link rel="publisher" href="https://plus.google.com/107479847642079902150">

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon-256.png">

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ site.url }}">

  <!-- RSS -->
  <link rel='alternate' type='application/rss+xml' title='RSS' href='/atom.xml'>

  <!-- Header background -->
  <style>
    .title-header::before {
      {% if page.header.background %}
        background-image: url('{{ page.header.background }}');
      {% else %}
        background-image: url('https://www.leungenterprises.com/img/galaxy.jpg');
      {% endif %}
    }
    .title-header h1,
    .title-header p {
      {% if page.header.color %}
        color: {{ page.header.color }};
      {% endif %}
    }
  </style>
</head>
